html{
    background-color: hsl(236, 25%, 54%);
}

body{
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: white;
    background-color: rgb(101, 136, 201);
    /*font-size: 2.2em;*/
    
}
h2{
    color: white;
    background-color: rgb(131, 147, 235);
    font-size: 1.5em;
}


aside blockquote{
    color: rgb(232, 165, 116);
    margin: 20px 5px;
}
nav > ul{
    line-height: 2em;
    list-style-type:none;
    padding-left: 5px;
     
}
body > footer {
    background-color: rgb(84, 60, 222);
    color: rgba(255, 255, 255, 0.7);
    font: normal small-caps bold 0.9em/3em;
    text-align: center;
}

nav > ul > li > a:link, nav > ul > li a:visited{
    color: rgb(116, 110, 110);
    text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li a:active{
    color: rgb(65, 166, 206);
}

footer > a:link, footer > a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer > a:hover, footer > a:active{
    color: rgb(28, 29, 34);
    
}

body {
    max-width: 960px;
    min-width: 640px;
    width: 95%;
   }
body > header > img {
    display: block;
    width: 100%;
}
/*se pone el margen en automatico*/
body {
    margin-left: auto;
    margin-right: auto;
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}
nav{
    width: 200px;
    float: left;
   
}

section{
    margin-left: 210px;
    width: 650px;
    float: center;
}
 article{
  
    width: 350px;
    float: left;
    
}

aside {
   
   width: 200px;
   margin-left: 350px;
   margin: 20px;
   float: right;
  

}
footer{
    clear: both;
}

.seccion2{
    float: left;
}
